<h1>Children's book's</h1>
<h2>Title: <%=@book.title%></h2><br>

Author: <%=@book.author%> <br>  
Status: <%=@book.status%> <br>
<% if @book.user.age > 18   %>
Comments:  <%=@book.comments%> <br>
<% else %>
<br>
Please contact an adult to edit this book.
<%end%>
<%  if logged_in? && current_user == @book.user && @book.user.age > 18  %>
<a href="/books/<%=@book.id%>/edit">Edit your Books</a>
<form action="/books/<%=@book.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type ="submit" value= "delete">
</form>
<%end%>