<h1>Children's book's</h1>
<h2>Title: <%=@book.title%></h2><br>
Author: <%=@book.author%> <br>  
Status: <%=@book.status%> <br>
Comments:  <%=@book.comments%> <br>
<%  if logged_in? && current_user == @book.user %>
<a href="/books/<%=@book.id%>/edit">Edit your Books</a>
<form action="/books/<%=@book.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type ="submit" value= "delete">
</form>
<%end%>